@import url(https://fonts.googleapis.com/css?family=League+Script);

:root {
  --neon-main: #F7F3F7;
  --neon-shadow: #99D2D0;
  --neon-main-glitch: #F7F3F7c2;
  --neon-text-glitch: #F7F3F788;
  --neon-shadow-glitch: rgba(153, 210, 208, 0.76);
}

body {
  color: #FFFFFF;
  background: url(https://wallpaperaccess.com/full/202978.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.center {
  margin: 40px;
  font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.round{
   background-color: transparent;
  color: var(--neon-main);
  border: 3px solid var(--neon-main);
  box-shadow: 0px 0px 25px 10px var(--neon-shadow), inset 0px 0px 25px 10px var(--neon-shadow);
  border-radius: 25px;
  height: 50px;
  padding: 5px 25px;
  text-shadow: 0 0 5px var(--neon-shadow);
  transition: box-shadow .25s ease;
  animation: neon-text-glitch 3s steps(1) infinite, neon-border-glitch 4.5s steps(1) infinite;
} 
.round:active {
  transform: translateY(4px) translateX(4px);
  box-shadow: 0px 0px 0 0 #4D5259;
}
.round:hover {
   background: #03e9f4;
    color: #050801;
  
}

.settings {
  background-color: transparent;
  color: var(--neon-main);
  border: 3px solid var(--neon-main);
  box-shadow: 0px 0px 25px 10px var(--neon-shadow), inset 0px 0px 25px 10px var(--neon-shadow);
  border-radius: 25px;
  height: 50px;
  padding: 5px 25px;
  text-shadow: 0 0 5px var(--neon-shadow);
  transition: box-shadow .25s ease;
  animation: neon-text-glitch 3s steps(1) infinite, neon-border-glitch 4.5s steps(1) infinite;
}

.settings:active {
  transform: translateY(4px) translateX(4px);
  box-shadow: 4px 4px 0 0 #4D5259;
}
.settings:hover {
   background: #03e9f4;
    color: #050801;
}



