
body {
  color: #FFFFFF;
  background: url(https://media0.giphy.com/media/GeimqsH0TLDt4tScGw/200.gif) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.center {
  margin: 40px;
  font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.round{
  background-color: transparent;
  border: 1px solid;
  border-radius: 15px;
  border-color: #FFFFFF;
  height: 50px;
  padding: 5px 25px;
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
}
.round span{
  animation: blink linear infinite 2s;
}
.round span:nth-of-type(2){
  animation: blink linear infinite 3s;
}
.round:active {
  transform: translateY(4px) translateX(4px);
  box-shadow: 0px 0px 0 0 #4D5259;
}
.round:hover {
   background-color: #transparent;
    color: #FFFFFF;
  
}

.settings {
  background-color: transparent;
  border: 1px solid;
  border-radius: 15px;
  border-color: #FFFFFF;
  height: 50px;
  padding: 5px 25px;
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
}
.settings span{
  animation: blink linear infinite 2s;
}
.settings span:nth-of-type(2){
  animation: blink linear infinite 3s;
}
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: #333;
  }
  80% {
    
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}
  
}

.settings:active {
  transform: translateY(4px) translateX(4px);
}
.settings:hover {
   background-color: #transparent;
    color: #FFFFFF;
}



