@import url(https://fonts.googleapis.com/css?family=League+Script);

body {
  color: #FFFFFF;
  background: url(https://wallpaperaccess.com/full/202978.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.center {
  margin: 40px;
  font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.round{
  background-color: transparent;
  color: #FFFFFF;
  border: 3px solid
  border-radius: 25px;
  height: 50px;
  padding: 5px 25px;
  text-shadow: 0 0 5px
  transition: box-shadow .25s ease;
} 
.round:active {
  transform: translateY(4px) translateX(4px);
  box-shadow: 0px 0px 0 0 #4D5259;
}
.round:hover {
   background: #03e9f4;
    color: #050801;
  
}

.settings {
  background-color: transparent;
  color: #FFFFFF;
  border: 3px solid;
  border-radius: 25px;
  height: 50px;
  padding: 5px 25px;
  text-shadow: 0 0 5px
  transition: box-shadow .25s ease;
}

.settings:active {
  transform: translateY(4px) translateX(4px);
}
.settings:hover {
   background: #03e9f4;
    color: #050801;
}



