@import url('https://fonts.google.com/specimen/Oswald');


body {
  background-color: black;
}


a {
  color: blue;
}

#stacker-game table {
  border: 1px solid white;
  border-spacing: 0;
  border-collapse: separate;
  margin: 0 auto;
  position: relative;
  font-size: 0;
}
#stacker-game table:before {
  display: block;
  position: absolute;
  top: 0px;
  padding: 5px 0;
  left: 0;
  right: 0;
  content: "M A J O R P R I Z E";
  text-align: center;
  font-size: 20px;
  border: 1px solid white;
  border-width: 1px 0;
}
#stacker-game table:after {
  display: block;
  position: absolute;
  top: 170px;
  padding: 5px 0;
  left: 0;
  right: 0;
  content: "M I N O R P R I Z E";
  text-align: center;
  font-size: 20px;
  border: 1px solid white;
  border-width: 1px 0;
}
#stacker-game td {
  width: 32px;
  height: 32px;
  border: 1px solid black;
  padding: 0;
}
.filled {
  background-image: url(https://thumbs.gfycat.com/ImprobableGreatCanadagoose-size_restricted.gif);
}


@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
